# Virtuelno okruzenje
venv/
__pycache__/
*.pyc

# Dataset - PREVELIK za git (desetine GB) (link u README.md)
dataset.pt


_backup_sa_komentarima/

# Jupyter
.ipynb_checkpoints/

# OS specificno
.DS_Store
Thumbs.db

Projekat (1).pdf
Sta je uradjeno/
